extends layout

block content
  h1= title
    - let family  = results
  div(class="container-fluid mt-3")
  div(class="row")
    each family,index in family  
      div(class="col-sm-4")  #{family.Dimensions} - #{family.Color} -#{family.Price}
     
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }